In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sql_functions import get_dataframe

In [3]:
schema = 'hh_analytics_24_1'

#sql_query to retrieve the data from DBeaver and saving it as a df
sql_query = f'SELECT * FROM {schema}.weather_stacked_groupx'
weather_stacked_sf = get_dataframe(sql_query)

weather_stacked_sf

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,station_id,faa
0,2010-02-01,-0.9,-3.9,2.8,0.0,0.0,270.0,22.3,None,1023.4,None,74486,JFK
1,2010-02-02,-1.0,-3.9,0.6,0.0,0.0,NaN,10.1,None,1023.8,None,74486,JFK
2,2010-02-03,0.3,-2.2,4.4,0.8,25.0,NaN,15.8,None,1018.1,None,74486,JFK
3,2010-02-04,0.8,-1.7,3.3,0.0,0.0,317.0,22.3,None,1025.8,None,74486,JFK
4,2010-02-05,0.6,-1.7,2.8,0.0,0.0,NaN,11.5,None,1023.3,None,74486,JFK
5,2010-02-06,-3.1,-6.1,0.6,2.8,0.0,36.0,33.1,None,1008.1,None,74486,JFK
6,2010-02-07,-4.2,-8.9,1.7,0.0,25.0,330.0,28.1,None,1011.3,None,74486,JFK
7,2010-02-08,-1.2,-5.0,3.9,0.0,0.0,305.0,27.7,None,1014.3,None,74486,JFK
8,2010-02-09,0.8,-2.2,4.4,0.5,0.0,263.0,15.1,None,1015.9,None,74486,JFK
9,2010-02-10,-0.2,-1.1,0.6,31.5,51.0,NaN,31.3,None,992.7,None,74486,JFK
10,2010-02-11,0.2,-2.2,2.8,0.0,254.0,321.0,32.0,None,1000.6,None,74486,JFK
11,2010-02-12,-0.9,-3.9,2.2,0.0,229.0,314.0,22.0,None,1009.4,None,74486,JFK
12,2010-02-13,-2.3,-4.4,0.0,0.0,203.0,323.0,25.2,None,NaN,None,74486,JFK
13,2010-02-14,0.1,-2.8,3.9,0.0,203.0,284.0,28.4,None,1002.2,None,74486,JFK
14,2010-02-15,-0.1,-2.8,2.8,2.0,152.0,NaN,20.9,None,1007.9,None,74486,JFK
15,2010-02-01,-4.5,-14.4,3.3,0.0,51.0,NaN,6.1,None,1026.4,None,72403,IAD
16,2010-02-02,-1.6,-9.4,4.4,7.1,25.0,NaN,3.2,None,NaN,None,72403,IAD
17,2010-02-03,1.2,-2.8,4.4,0.5,102.0,NaN,8.3,None,1020.2,None,72403,IAD
18,2010-02-04,1.3,-2.8,4.4,0.0,51.0,NaN,7.6,None,1028.7,None,72403,IAD
19,2010-02-05,0.1,-1.1,1.7,37.3,25.0,NaN,9.7,None,NaN,None,72403,IAD
20,2010-02-06,-2.9,-12.2,0.0,50.3,457.0,NaN,16.9,None,NaN,None,72403,IAD
21,2010-02-07,-6.1,-13.9,-0.6,0.0,533.0,NaN,12.6,None,1016.5,None,72403,IAD
22,2010-02-08,-5.0,-10.6,0.0,0.0,508.0,NaN,11.9,None,1021.0,None,72403,IAD
23,2010-02-09,-4.6,-12.2,1.7,7.6,483.0,NaN,3.2,None,NaN,None,72403,IAD
24,2010-02-10,-3.6,-6.7,-1.1,10.7,660.0,321.0,31.0,None,NaN,None,72403,IAD
25,2010-02-11,0.1,-2.2,3.3,0.0,635.0,306.0,25.6,None,1009.2,None,72403,IAD
26,2010-02-12,-1.0,-5.0,2.8,0.0,508.0,NaN,13.0,None,1013.3,None,72403,IAD
27,2010-02-13,-1.8,-3.3,0.0,0.0,457.0,315.0,20.5,None,1007.4,None,72403,IAD
28,2010-02-14,-1.0,-7.2,3.3,0.0,432.0,NaN,15.8,None,1009.1,None,72403,IAD
29,2010-02-15,-3.7,-12.8,2.8,1.5,381.0,NaN,4.7,None,NaN,None,72403,IAD
30,2010-02-01,-4.5,-14.4,3.3,0.0,51.0,NaN,6.1,None,1026.4,None,72403,IAD
31,2010-02-02,-1.6,-9.4,4.4,7.1,25.0,NaN,3.2,None,NaN,None,72403,IAD
32,2010-02-03,1.2,-2.8,4.4,0.5,102.0,NaN,8.3,None,1020.2,None,72403,IAD
33,2010-02-04,1.3,-2.8,4.4,0.0,51.0,NaN,7.6,None,1028.7,None,72403,IAD
34,2010-02-05,0.1,-1.1,1.7,37.3,25.0,NaN,9.7,None,NaN,None,72403,IAD
35,2010-02-06,-2.9,-12.2,0.0,50.3,457.0,NaN,16.9,None,NaN,None,72403,IAD
36,2010-02-07,-6.1,-13.9,-0.6,0.0,533.0,NaN,12.6,None,1016.5,None,72403,IAD
37,2010-02-08,-5.0,-10.6,0.0,0.0,508.0,NaN,11.9,None,1021.0,None,72403,IAD
38,2010-02-09,-4.6,-12.2,1.7,7.6,483.0,NaN,3.2,None,NaN,None,72403,IAD
39,2010-02-10,-3.6,-6.7,-1.1,10.7,660.0,321.0,31.0,None,NaN,None,72403,IAD
40,2010-02-11,0.1,-2.2,3.3,0.0,635.0,306.0,25.6,None,1009.2,None,72403,IAD
41,2010-02-12,-1.0,-5.0,2.8,0.0,508.0,NaN,13.0,None,1013.3,None,72403,IAD
42,2010-02-13,-1.8,-3.3,0.0,0.0,457.0,315.0,20.5,None,1007.4,None,72403,IAD
43,2010-02-14,-1.0,-7.2,3.3,0.0,432.0,NaN,15.8,None,1009.1,None,72403,IAD
44,2010-02-15,-3.7,-12.8,2.8,1.5,381.0,NaN,4.7,None,NaN,None,72403,IAD
45,2010-02-01,-1.8,-6.1,2.2,0.0,0.0,270.0,16.2,None,1025.3,None,72408,PHL
46,2010-02-02,-0.6,-5.6,2.2,0.0,0.0,NaN,6.1,None,NaN,None,72408,PHL
47,2010-02-03,1.3,-0.6,4.4,0.5,25.0,NaN,10.8,None,NaN,None,72408,PHL
48,2010-02-04,1.3,-1.1,4.4,0.0,0.0,295.0,14.4,None,1027.5,None,72408,PHL
49,2010-02-05,0.5,-1.7,3.3,14.0,0.0,NaN,7.6,None,1023.1,None,72408,PHL
50,2010-02-06,-3.8,-8.3,-1.7,47.0,432.0,23.0,28.4,None,1006.3,None,72408,PHL
51,2010-02-07,-5.0,-10.0,0.0,0.0,508.0,314.0,16.6,None,1013.8,None,72408,PHL
52,2010-02-08,-3.8,-10.6,1.7,0.0,356.0,273.0,18.4,None,1017.6,None,72408,PHL
53,2010-02-09,-1.7,-7.2,2.8,14.0,279.0,NaN,7.9,None,NaN,None,72408,PHL
54,2010-02-10,-0.7,-2.2,0.6,27.9,432.0,4.0,28.4,None,NaN,None,72408,PHL
55,2010-02-11,0.2,-2.8,3.3,0.0,457.0,304.0,26.6,None,1004.3,None,72408,PHL
56,2010-02-12,-1.5,-5.6,1.7,0.0,356.0,301.0,15.5,None,1011.7,None,72408,PHL
57,2010-02-13,-2.5,-4.4,-0.6,0.0,305.0,311.0,18.0,None,1004.8,None,72408,PHL
58,2010-02-14,-1.2,-5.0,2.8,0.0,305.0,265.0,23.0,None,1005.8,None,72408,PHL
59,2010-02-15,-1.3,-6.1,2.8,2.3,254.0,NaN,11.9,None,NaN,None,72408,PHL

In [4]:
#keeping only those columns, which are intersting for us (as defined in hypothesis)
weather_short_sf = weather_stacked_sf[['date', 'tavg', 'tmin', 'tmax', 'snow', 'wspd', 'faa']].copy()

In [5]:
weather_short_sf['date']= pd.to_datetime(weather_short_sf['date'])

In [6]:
weather_short_sf.isna().sum()

date    0
tavg    0
tmin    0
tmax    0
snow    0
wspd    0
faa     0
dtype: int64

In [7]:
weather_short_sf.duplicated().value_counts()

False    45
True     15
dtype: int64

In [8]:
#duplicates were checked and then excluded from the dataframe
weather_short_sf.drop_duplicates(inplace=True)

In [9]:
weather_short_sf.reset_index(drop=True, inplace=True)

In [10]:
weather_short_sf.rename(columns={'tavg':'averg_temp', 'tmin': 'min_temp', 'tmax': 'max_temp', 'wspd': 'windspeed'}, inplace=True)

weather_short_sf.head()

        date  averg_temp  min_temp  max_temp  snow  windspeed  faa
0 2010-02-01        -0.9      -3.9       2.8   0.0       22.3  JFK
1 2010-02-02        -1.0      -3.9       0.6   0.0       10.1  JFK
2 2010-02-03         0.3      -2.2       4.4  25.0       15.8  JFK
3 2010-02-04         0.8      -1.7       3.3   0.0       22.3  JFK
4 2010-02-05         0.6      -1.7       2.8   0.0       11.5  JFK

In [11]:
weather_short_sf[['faa']].value_counts()

faa
IAD    15
JFK    15
PHL    15
dtype: int64

In [12]:
#SQL-quary to retrieve flights_group_x from DBEAVER (contains flights and airport data)

schema = 'hh_analytics_24_1'

sql_query = f'SELECT * FROM {schema}.flights_group_x'
flights_x_sf = get_dataframe(sql_query)
flights_x_sf.head()

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,...,air_time,actual_elapsed_time,distance,cancelled,diverted,lat,lon,city,tz_origin,tz_dest
0,2010-02-02,727.0,730,-3.0,835.0,855,-20.0,WN,N798SW,61,...,43.0,68.0,185.0,0,0,40.777199,-73.872597,New York,-5.0,-5.0
1,2010-02-02,1536.0,1540,-4.0,1646.0,1710,-24.0,WN,N210WN,65,...,40.0,70.0,185.0,0,0,40.777199,-73.872597,New York,-5.0,-5.0
2,2010-02-02,1239.0,1130,69.0,1338.0,1255,43.0,WN,N207WN,2064,...,42.0,59.0,185.0,0,0,40.777199,-73.872597,New York,-5.0,-5.0
3,2010-02-02,1355.0,1355,0.0,1514.0,1550,-36.0,WN,N456WN,232,...,111.0,139.0,725.0,0,0,40.777199,-73.872597,New York,-5.0,-6.0
4,2010-02-02,1026.0,1030,-4.0,1145.0,1225,-40.0,WN,N227WN,1510,...,116.0,139.0,725.0,0,0,40.777199,-73.872597,New York,-5.0,-6.0

In [13]:
#keeping only relevant columns

flights_short_sf = flights_x_sf[['flight_date', 'dep_time', 'flight_number', 'origin', 'dest', 'cancelled','city']].copy()

In [14]:
flights_short_sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50136 entries, 0 to 50135
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   flight_date    50136 non-null  datetime64[ns]
 1   dep_time       43958 non-null  float64
 2   flight_number  50136 non-null  int64
 3   origin         50136 non-null  object
 4   dest           50136 non-null  object
 5   cancelled      50136 non-null  int64
 6   city           50136 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 2.7+ MB

In [15]:
flights_short_sf.isna().sum()

flight_date         0
dep_time         6178
flight_number       0
origin              0
dest                0
cancelled           0
city                0
dtype: int64

In [16]:
flights_short_sf.duplicated().value_counts()

False    50132
True         4
dtype: int64

In [26]:
# the flight_date and date columns do not match in merged_df
merged_df_sf = flights_short_sf.merge(weather_short_sf, 
                                   how='left', 
                                   left_on='origin', 
                                   right_on='faa')

In [27]:
merged_df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181302 entries, 0 to 181301
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   flight_date    181302 non-null  datetime64[ns]
 1   dep_time       161628 non-null  float64
 2   flight_number  181302 non-null  int64
 3   origin         181302 non-null  object
 4   dest           181302 non-null  object
 5   cancelled      181302 non-null  int64
 6   city           181302 non-null  object
 7   date           140535 non-null  datetime64[ns]
 8   averg_temp     140535 non-null  float64
 9   min_temp       140535 non-null  float64
 10  max_temp       140535 non-null  float64
 11  snow           140535 non-null  float64
 12  windspeed      140535 non-null  float64
 13  faa            140535 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(2), object(4)
memory usage: 20.7+ MB

In [29]:
merged_df_sf

,flight_date,dep_time,flight_number,origin,dest,cancelled,city,date,averg_temp,min_temp,max_temp,snow,windspeed,faa
0,2010-02-02,727.0,61,LGA,BWI,0,New York,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-02-02,1536.0,65,LGA,BWI,0,New York,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-02-02,1239.0,2064,LGA,BWI,0,New York,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-02-02,1355.0,232,LGA,MDW,0,New York,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-02-02,1026.0,1510,LGA,MDW,0,New York,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181297,2010-02-01,1346.0,3507,MDW,LGA,0,Chicago,NaT,NaN,NaN,NaN,NaN,NaN,NaN
181298,2010-02-01,1810.0,3842,MDW,LGA,0,Chicago,NaT,NaN,NaN,NaN,NaN,NaN,NaN
181299,2010-02-02,1400.0,1461,BWI,LGA,0,Baltimore,NaT,NaN,NaN,NaN,NaN,NaN,NaN
181300,2010-02-02,852.0,1510,BWI,LGA,0,Baltimore,NaT,NaN,NaN,NaN,NaN,NaN,NaN
181301,2010-02-02,1718.0,1903,BWI,LGA,0,Baltimore,NaT,NaN,NaN,NaN,NaN,NaN,NaN